.container-add-intervention {
  height              : 100vh;
  width               : 100%;
  display             : flex;
  justify-content     : center;
}

.logo {
  max-width           : 200px;
  height              : auto;
  margin-bottom       : 20px;
  /* animation        : fadeIn 2s ease-in-out; */
  position            : absolute;
  top                 : 10px;
}

.section2 {
  padding             : 40px 20px 0px 20px;
  font-family         : 'Segoe UI', sans-serif;
  background          : linear-gradient(to bottom right, #f0f0f0, #ffffff);
  color               : #333;
  text-align          : center;
  width               : 100%;
  height              : 100%;
  border-radius       : 5px;
  box-shadow          : 2px 2px 5px 3px gray;
}

form {
  width               : 100%;
  height              : 100%;
  position            : relative;
}
.welcome-section-intrevention {
  animation          : fadeIn 2s ease-in-out;
  height             : 100%;
  width              : 100%;
  display            : grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap            : 0px;
  padding            : 5px 0px;
  position           : absolute;
}

label {
  font-family        : Georgia, 'Times New Roman', Times, serif;
  font-weight        : bold;
  align-self         : flex-start;
  color              : darkblue;
  margin             : 0% 2%;
}

input,
select {
  padding            : 3px 10px;
  height             : 35px;
  margin-bottom      : 10px;
  border             : 1px solid #a9a1a1;
  border-radius      : 8px;
  font-size          : 17px;
  outline            : none;
}

input:focus {
  border-color       : #4ca1af;
  box-shadow         : 0 0 5px rgba(76, 161, 175, 0.5);
}

h2 {
  font-size          : x-large;
  margin-bottom      : 20px;
  color              : #005580;
}

.button {
  background-color   : #067200;
  transition         : background 0.3s ease;
  padding            : 12px 24px;
  border             : none;
  border-radius      : 8px;
  font-size          : 16px;
  cursor             : pointer;
  transition         : background 0.3s ease;
  width              : 50%;
  align-self         : center;
  color              : white;
}

.button:hover {
  background-color   : #3b8b9d;
}

.button-group {
  display            : flex;
  position           : absolute;
  bottom             : 10px;
  right              : 5px;
  column-gap         : 20px;
  margin-right       : 20px;

}


.button-update {
  color              : white;
  background-color   : rgb(175, 15, 15);
  font-weight        : bold;
  height             : 45px;
  width              : 120px;
  font-size          : 17px ;
}

.button-previous-update-intervention {
  color              : white;
  background-color   : darkblue ;
  font-weight        : bold;
  height             : 45px;
  width              : 120px;
  font-size          : 17px ;
}



.commentaire {
  display            : flex;
  flex-direction     : column;
  align-items        : center;
  width              : 100%;
  height             : 70%;
  grid-column        : 1 / -1;
  margin-top         : -30px;
}

.labelCommentaire {
  position           : relative;
  align-self         : flex-start;
  margin-left        : 13%;
  margin-bottom      : 8px;
}

.Commentaire-text {
  width              : 80%;
  height             : 90%;
  padding            : 8px;
  font-size          : 15px;
  border-radius      : 3px;
}

.Message {
  align-self         : flex-start;
  animation          : fadeIn 1s ease-in-out;
  margin             : 0;
  margin-left        : 15%;
}

.erreur {
  color              : red;
}
.success {
  color              : green;
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity          : 0;
    transform        : translateY(20px);
  }
  to {
    opacity          : 1;
    transform        : translateY(0);
  }
}

/* Responsive */
@media (max-width: 800px) {






}
